In [13]:
import pandas as pd
import numpy as np
col_name_pd = pd.read_excel("column_names_ONLY.xlsx", index_col="number")
for col in col_name_pd.columns:
        col_name_pd[col]= col_name_pd[col].replace("\n", "") 
        col_name_pd[col]= col_name_pd[col].replace(np.nan, "") 

column_name_type = "025"
columns = col_name_pd.loc[int(column_name_type)]

print(columns)

1     Belastungsstufen\nint
2                Dev 1\nkPa
3                Dev 2\nkPa
4                Dev 3\nkPa
5                Dev 4\nkPa
              ...
60
61
62
63
64
Name: 25, Length: 64, dtype: object

In [105]:
import pandas as pd
import numpy as np
col_name_pd = pd.read_excel("column_names_ONLY.xlsx", index_col="number")
for col in col_name_pd.columns:
        col_name_pd[col]= col_name_pd[col].replace("\n", "") 
        col_name_pd[col]= col_name_pd[col].replace(np.nan, "") 
column_name_type = "035"


columns_with_Nan = col_name_pd.loc[int(column_name_type)]

filename = "/Users/macpro/Downloads/Log_demo2.txt"
dataset=pd.read_csv(filename,delimiter="\t")
new = dataset["    file"].str.split(" ", n = 1, expand = True) 
dataset["number"] = new[0]
dataset["value"] = new[1]
tt = list(new[0])
#print(tt)
report_list =[]
while "" in tt:
    tt.remove("")
for i in tt:
    
    #print(i, len(i))
    if i[0] =="0" and i[-1]!="-":
        report_list.append(i)
    #print(i[0])
report_list1 =list(dict.fromkeys(report_list))   
        

group = dataset.groupby("number")
group_35=group.get_group (column_name_type)
group_35 = group_35.iloc[:,2:-2]

group_35.columns = columns_with_Nan
#group_35 = group_35.iloc[:,2:28]
#group_35.columns = columns_without_Nan
print(report_list1)
#print(group_35.head())

['001', '003', '005', '007', '009', '011', '013', '015', '017', '019', '021', '023', '025', '027', '029', '035', '043', '045', '046', '047', '002', '004', '006', '008', '010', '012', '014', '016', '018', '020', '022', '024', '026', '028', '030', '032', '034', '036', '038', '040', '042']

In [79]:
yeni_group = pd.DataFrame()
for col in col_name_pd.columns:
    liste =[]
    for i in range (len(number_list)):
        print(number_list[i], col_name_pd[col][i])
        if number_list[i] == col_name_pd[col][i]:
            liste.append(number_list[i])
number_list = list(dict.fromkeys(col_name_pd["number"].values.tolist()))





print(number_list)
print(col_name_pd.shape)    
print(liste)

NameError: name 'number_list' is not defined

In [78]:



import pandas as pd
filename = "/Users/macpro/Downloads/Log_demo2.txt"
dataset=pd.read_csv(filename,delimiter="\t")
new = dataset["    file"].str.split(" ", n = 1, expand = True) 
dataset["number"] = new[0]
dataset["value"] = new[1]
group = dataset.groupby("number")
group_35=group.get_group ("035")
group_35.dropna(inplace=True, axis=1)
print((group_35))

               file    1          par Probe und Zelle Probe und Zelle.txt  \
15   035 520.641600    1  520.641.600        0.050694            0.050694
20   035 521.641200    2  521.641.200        0.052300            0.052299
24   035 522.641200    3  522.641.200        0.053906            0.053906
28   035 523.641200    4  523.641.200        0.055513            0.055512
32   035 524.641200    5  524.641.200        0.057120            0.057119
..              ...  ...          ...             ...                 ...
599  035 708.641199  189  708.641.199        0.353186            0.353186
601  035 709.641199  190  709.641.199        0.354798            0.354797
603  035 710.641199  191  710.641.199        0.356409            0.356409
604  035 711.641199  192  711.641.199        0.358021            0.358020
605  035 712.641199  193  712.641.199        0.359632            0.359632

          plain   Unnamed: 6   Unnamed: 7   Unnamed: 8 Unnamed: 9  ...  \
15   70.000.000   19.278.561  109.999.976    9.999.976   0.000000  ...
20   70.000.000   20.884.477  110.832.789   10.832.789   0.001622  ...
24   70.000.000   22.491.061  111.665.918   11.665.918   0.003245  ...
28   70.000.000   24.097.672  112.499.031   12.499.031   0.004869  ...
32   70.000.000   25.704.308  113.332.129   13.332.129   0.006493  ...
..          ...          ...          ...          ...        ...  ...
599  70.000.000  321.770.789  266.348.781  166.348.781   0.305703  ...
601  70.000.000  323.382.274  267.178.905  167.178.905   0.307332  ...
603  70.000.000  324.993.785  268.009.012  168.009.012   0.308960  ...
604  70.000.000  326.605.323  268.839.103  168.839.103   0.310589  ...
605  70.000.000  328.216.886  269.669.178  169.669.178   0.312218  ...

    Unnamed: 20    Unnamed: 21 Unnamed: 22 Unnamed: 23  Unnamed: 24  \
15   98.898.611  1.927.860.582  98.949.305  49.544.205  190.760.465
20   98.897.005  1.927.860.582  98.949.305  49.544.607  190.760.749
24   98.895.399  1.927.860.582  98.949.305  49.545.009  190.761.033
28   98.893.792  1.927.860.582  98.949.305  49.545.412  190.761.317
32   98.892.185  1.927.860.582  98.949.305  49.545.814  190.761.601
..          ...            ...         ...         ...          ...
599  98.596.119  1.927.860.582  98.949.305  49.620.109  190.813.920
601  98.594.507  1.927.860.582  98.949.305  49.620.514  190.814.205
603  98.592.896  1.927.860.582  98.949.305  49.620.919  190.814.489
604  98.591.284  1.927.860.582  98.949.305  49.621.325  190.814.774
605  98.589.673  1.927.860.582  98.949.305  49.621.730  190.815.059

       Unnamed: 25 Unnamed: 26 Unnamed: 27 number       value
15   1.927.860.582  49.544.205    0.000000    035  520.641600
20   1.927.894.725  49.544.644    0.001605    035  521.641200
24   1.927.928.898  49.545.083    0.003211    035  522.641200
28   1.927.963.072  49.545.522    0.004818    035  523.641200
32   1.927.997.248  49.545.961    0.006425    035  524.641200
..             ...         ...         ...    ...         ...
599  1.934.314.072  49.627.060    0.302491    035  708.641199
601  1.934.348.558  49.627.503    0.304103    035  709.641199
603  1.934.383.046  49.627.945    0.305714    035  710.641199
604  1.934.417.536  49.628.388    0.307326    035  711.641199
605  1.934.452.027  49.628.830    0.308937    035  712.641199

[193 rows x 30 columns]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [74]:
group

In [72]:
dataset

,file,1,par,Probe und Zelle,Probe und Zelle.txt,plain,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,number,value
0,001 213.800000,1,99.000.000,50.000.000,Zelle 1,Externe Kraftmessdose,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,001,213.800000
1,003 213.800000,1,TR1,35,37,39,41,11,7,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,003,213.800000
2,005 213.800000,1,50.000.000,80.000.000,10.000.000,TRUE,2.000.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,005,213.800000
3,007 213.800000,1,50.000.000,30.000.000,1.000.000,1.000.000,2.000.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,007,213.800000
4,009 213.800000,1,Vorgang_1,iso,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,009,213.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5124,040-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,040-,None
5125,041-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,041-,None
5126,042-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,042-,None
5127,043-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,043-,None
5128,044-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,044-,None